<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-4.3.xsd 
	http://www.springframework.org/schema/aop 
	http://www.springframework.org/schema/aop/spring-aop-4.3.xsd ">
	<!-- by www.yiibai.com -->
	<aop:aspectj-autoproxy />

	<bean id="customerBo" class="cn.ffcs.msa.springAop.five.CustomerBoImpl" />

	<!-- Aspect -->
	<bean id="logAspect" class="cn.ffcs.msa.springAop.five.LoggingAspect" />

	<aop:config>
			<aop:pointcut id="pointCut"
				expression="execution(* cn.ffcs.msa.springAop.five..*.*(..))" />
		<aop:aspect id="aspectLoggging" ref="logAspect" />

			<!-- @Before -->
			<aop:before method="logBefore" pointcut-ref="pointCut" />
			
			<!-- @After -->
			<aop:after method="logAfter" pointcut-ref="pointCut" />
			
			<!-- @AfterReturning -->
			<aop:after-returning method="logAfterReturning" returning="result" 
				pointcut-ref="pointCut" />
			
			
			<!-- @AfterThrowing -->
			<aop:after-throwing method="logAfterThrowing" throwing="error" 
				pointcut-ref="pointCut"  />
			
			
			<!-- @Around -->
			<aop:around method="logAround" pointcut-ref="pointCut"  />
		</aop:aspect>

	</aop:config>
</beans>